modules = ["python-3.11"]

run = "redis-server --port 6379 & python3 -m daphne -b 0.0.0.0 -p 3000 django_project.asgi:application"

[deployment]
run = "redis-server --port 6379 & python3 -m daphne -b 0.0.0.0 -p 3000 django_project.asgi:application"
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 6379
externalPort = 6379

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
packages = ["redis"]
